<h1>


<div>
<a href="/flexible/square/5">Flexible Square Example</a>
  </div>

  <div>
<a href="/flexible/square_root/9">Flexible Square Root Example</a>
  </div>

<div>
<a href="/flexible/payment/410/30/250000">Flexible Payment Example</a>
</div>

<div>
<a href="/flexible/random/50/100">Flexible random Example</a>
</div>



</h1>

<p> Hi </p>
