<h1>Payment Calculation</h1>

<p>The monthly payment for a loan with principal <%= number_to_currency(@principal) %>, APR <%= number_to_percentage(@apr, precision: 4) %>, and duration of <%= @no_years %> years is <%= number_to_currency(@payment) %>
</p>
