<h1>Payment Calculation</h1>

<p>The monthly payment for a loan with principal <%= number_to_currency(@principal) %>, APR <%= @apr %>%, and duration of <%= @no_years %> years is <%= number_to_currency(@payment) %>
</p>
