<h1>Random Calculation</h1>

<form action = "/random/results">
<div>
<label>
  Minimum number
</label>
<input type ="text" name="min_num">
</div>
<div>
<label>
Maximum number
</label>
<input type ="text" name="max_num">
</div>
<div>
<button>Generate random number</button>
</div>
</form>
