<h1>Random Calculation</h1>

<form action = "/random/results">
<div>
<label for ="minnum">
  Minimum number
</label>
<input id = "minnum" type ="text" name="min_num">
</div>
<div>
<label for ="maxnum">
Maximum number
</label>
<input id = "maxnum" type ="text" name="max_num">
</div>
<div>
<button>Pick random number</button>
</div>
</form>
