<h1>Square Root Form</h1>

<form action="/square_root/results">
<label for ="rootnum">
Enter a number
</label>
<input id = "rootnum" type="text" name="user_number2">
<div>
<button>Calculate square root</button>
</div>
</form>
