<h1>Square calculation</h1>

<form action="/square/results">
<label for ="num_">
Enter a number
</label>
<input id = "num_" type="text" name="user_number">
<div>
<button>Calculate square</button>
</div>
</form>
